.task-list {
    margin: 50px auto;
}

.task-string,
.task-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr;
    div {
        // border: 1px solid red;
    }
}
.task-string {
    position: relative;
    a {
        text-decoration: none;
        color: black;
        &:hover {
            color: rgb(0, 39, 182);
        }
    }
    &:after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: gray;
        bottom: 0;
    }
}

.task-header {
    font-weight: bold;
}

.task-header {
    div {
        position: relative;
        &:last-child:after {
            content: "";
        }
        &:after {
            content: url(../img/sort.svg);
            position: absolute;
            top: 4px;
        }
    }
}

.del-button {
    color: darkred;
    background-color: transparent;
    outline: none;
    border: none;
    transform: rotate(45deg);
    font-size: 20px;
}
.del-button:hover {
    transition: transform 0.5s;
    transform: rotate(225deg);
}
.del-button:active {
    color: red;
}
